@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: url(../img/backgroundCatsT.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.contenedor{
    margin: 0 90px;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: auto auto auto auto 20px;
    row-gap: 20px;
    background-color: black;
}


.cajapeli{
    grid-column: 2;
    grid-row: 2;
    width: auto;
    height: auto;
    background-color: black;
    border: 5px solid #db0e0e;
    padding: 1rem;
    color: white;
    display: flex;
}

.portada {
    min-width: 600px; 
    aspect-ratio: 16/9;
    width: 100%;
    min-width: 650px;
    max-width: 800px;
    flex-shrink: 0;
    position: relative;
    left: 70px;
    background: linear-gradient(to right, transparent 70%, black), url("../img/worldwar.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.descripcion{
    font-family: "League Spartan", serif;
    position: relative;
    right: 80px;
}

.titulo{
    display: flex;
    font-size: 70px;
    font-weight: 700;
    flex-wrap: wrap;
    padding: 15px;
    margin: 10px 40px;
    justify-content: space-between;
}

.puntuacion{
    display: flex;
    align-self: end;
}

.star{
    display: flex;
    margin: 0;
    padding: 0;
}

.star img{
    margin: 1.5px;
    padding: 0;
    width: 30px;
}

.starNumber{
    font-size: 37px;
    color: #f2ab1a;
}

.sinopsis{
    display: flex;
    align-items: center;
    padding: 15px;
    margin: 10px 40px;
    font-weight: 400;
    font-size: 19px;
}

.buttonsMovie{
    display: flex;
    align-items: center;
    margin: 10px 40px;
    padding: 15px;
}

.btnReproducir img{
    width: 200px;
    margin: 10px;
}

.btnAgain img{
    width: 65px;
    margin: 10px 100px 10px 10px;
}

.btnListaAgregado img{
    width: 50px;
    margin: 10px;
}

.btnListaAgregar img{
    width: 50px;
    margin: 10px;
    display: none;
}

.capitulos{
    grid-column: 2;
    grid-row: 3;
    background-color: #757575;
    border: 5px solid #db0e0e;
    padding: 1rem;
    color: white;
    text-align: center;
}
.comentarios{
    grid-column: 2;
    grid-row: 4;
    background-color: #757575;
    border: 5px solid #db0e0e;
    padding: 1rem;
    color: white;
    text-align: center;
}