@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* Estilo General */
body {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
    background-image: url('../img/backgroundCatsT.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    margin: 0 90px;
    background-color: black;
    border-radius: 10px;
}

/****************************** Animacion de carga *****************************/
/* Animación de salto */
@keyframes pulso {
    0% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-25px); 
    }
    100% {
        transform: translateY(0); 
    }
}

/* Animación de carga */
@keyframes cargar {
    0% { width: 0%; }
    50% { width: 75%; }
    100% { width: 100%; }
}

.pulser {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: pulso 2s ease-in-out infinite; 
}

/* Estilos específicos para cada gatito */
.pulser:nth-child(1) {
    background-image: url('../img/gatitoRojo2.png'); 
    width: 150px; 
    height: 150px;
}

.pulser:nth-child(2) {
    background-image: url('../img/gatitoNegro2.png'); 
    width: 150px;
    height: 150px;
    animation-delay: 0.2s; 
}

.pulser:nth-child(3) {
    background-image: url('../img/gatitoAmarillo2.png'); 
    width: 150px; 
    height: 150px;
    animation-delay: 0.4s; 
}
/* Estilos de diseño */
.gatitos {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;
}




/* Nueva barra de rayas deslizantes */
@keyframes slideStripes {
    0% { background-position: 0 0; }
    100% { background-position: 50px 50px; }
}
.loading-text {
    text-align: center;
    font-size: 35px;
    margin-top: 5px;
    color: #fff;
    font-weight: bold;
    font-family: 'Comic Sans MS', 'Chalkboard SE', sans-serif; 
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
}

.loading-screen {
    display: none; /* Oculta inicialmente */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(10, 6, 6);
    z-index: 10;
    }

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */





/* Caja de Película */
.cajapeli {
    grid-row: 1;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 1rem;
    margin: 20px 0;
}

.portada {
    position: relative;
    left: 30px;
    flex: 1;
    aspect-ratio: 16 / 9;
    background: linear-gradient(to right, transparent 70%, black), url('../img/worldwar.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.descripcion {
    position: relative;
    right: 80px;
    width: 1000px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.titulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 60px;
    font-weight: 700;
    padding: 0 20px;
}

.puntuacion {
    display: flex;
    align-items: end;
}

.star {
    display: flex;
    gap: 1px;
    align-items: center;
}

.star img {
    width: 30px;
    height: auto;
    margin: 0;
    padding: 0;
}

.starNumber {
    font-size: 1.5rem;
    color: #f2ab1a;
}

.sinopsis {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 20px;
}

.buttonsMovie {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 20px;
    margin: 20px 0;
}

.btnReproducir a img{
    width: 160px;
}

.btnAgain a img{
    width: 50px;
    margin-right: 40px;
}

.btnListaAgregado a img{
    width: 40px;
}

.btnListaAgregar a img{
    width: 40px;
}

/* Transición de hover para todos los botones */
.buttonsMovie a img {
    transition: transform 0.2s ease, filter 0.3s ease; /* Suaviza tanto la rotación como el cambio de brillo */
}

.buttonsMovie a img:hover {
    filter: brightness(1.2); /* Incrementa el brillo */
    transform: scale(1.1); /* Agranda ligeramente la imagen */
}

/* Rotación 360 grados solo en el botón .btnAgain */

.btnAgain a img {
    transition: transform 0.6s ease, filter 0.3s; /* Suaviza tanto la rotación como el cambio de brillo */
}

.btnAgain a img:hover {
    transform: rotate(-360deg); /* Gira 360 grados */
}

/*--------------------------------------- Capitulos ------- --------------------------------------------*/
.capitulos {
    display: flex;
    margin: 0 100px;
    flex-direction: column; /* Organiza las ventanas en columna */
    align-items: center; /* Centra horizontalmente */
    gap: 20px; /* Espacio entre las ventanas */
}

.ventanas {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espacio entre botones */
}

.capitulo { /********Contenido de cada ventana que va cambiando******/
    display: flex; /* Ocultar ventanas por defecto */
    flex-wrap: wrap;
    width: 100%; /* Asegura que ocupen todo el espacio disponible */
    padding: 20px;
    color: white;
}


#contenidoRelacionados{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#ventanaRelacionados .item{
    max-width: 27%;
    min-width: 25%;
    justify-items: center;
}

.contenido .item {
    border-radius: 15px;
    font-size: 20px;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contenido .item:hover {
    background-color: #1e1e1e;
}

.capitulo h2 {
    text-align: center;
    display: none;
}

.capitulo .contenido {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Estilo para los botones de ventanas */
.btnVentana {
    font-family: "League Spartan";
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s ease;
}

.btnVentana:hover {
    background-color: transparent; /* Añade un efecto visual al pasar el cursor */
}

/* Hover underline effect */
.btnVentana::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom center;
    transition: transform 0.2s ease;
}

.btnVentana:hover::after {
    transform: scaleX(1);
}

/* Contenido de los episodios, relacionados y reparto */



/*------------------------------------------ Comentarios -------------------------------------------------*/

.comentarios {
    text-align: center;
    background-color: #757575;
    border: 5px solid #db0e0e;
    padding: 1rem;
    border-radius: 10px;
}
